.footer {    
    display: flex;
    align-content: flex-start;
    justify-items: center;
    color: #545454;
    margin: 0;
    margin-top: 66px;
    padding: 0;
    padding-bottom: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    flex-shrink: 0;
}

@media screen and (max-width: 425px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
        margin: 0;
        margin-top: 48px;
        padding-bottom: 36px;
    }
}
@media screen and (max-width: 320px) {
    .footer {
        margin-left: 19px;
    }
}