.popup__text {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    height: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.popup__text:focus-visible {
    outline: 2px solid rgb(92, 174, 207);
    border: none;
}

@media screen and (max-width: 767px) {
    .popup__text {
        width: 238px;
    }
}