.popup__text {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    height: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    outline: 0;
    padding: 2px 0 13px;
    /* из-за padding-top  30px - 2px = 28px */
    margin: 0 0 28px;
}

/* .popup__text:first-of-type {
    margin: 0 0 30px;
} */

.popup__text:last-of-type {
    /* из-за padding-top  48px - 2px = 46px */
    margin-bottom: 46px;
}

.popup__text:focus-visible {
    outline: 2px solid rgb(92, 174, 207);
    border: none;
}

@media screen and (max-width: 767px) {
    .popup__text {
        width: 238px;
    }
    .popup__text:last-of-type {
        margin-bottom: 43px;
    }
}